<h1> Find all Cocktails</h1>

<table>
   <thead>
     <tr>
       <th>Name</th>
        <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>

    <% @cocktails.each do |cocktail| %>
    <tr>
  <td><%= cocktail.name %></td>
  <td><%= link_to "show more", cocktail_path(cocktail) %></td>
     </tr>
      <% end %>
  </tbody>
</table>
<%= render 'form', cocktail: @cocktail %>


