<div class="navbar navbar-expand-sm navbar-light navbar-cocktail">
  <i class="fas fa-cocktail"></i>
  <h1>Mat'cocktails</h1>

<button type="button" class="btn btn-light"><%= link_to "Add A Cocktail", new_cocktail_path,</button>
</div>
